{% extends "layouts/main.html" %}

{% block pageTitle %}
  Generate proof - GOV.UK Proof
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p style="margin-bottom: 0px;"><span class="govuk-!-font-weight-bold">University of Arnsford</span>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/home-page">Dashboard</a>
      </li>
      <li>
        <a class="govuk-link govuk-!-font-weight-bold" href="#">Generate proof</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Templates</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Check proof</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Settings</a>
      </li>
      <li>
        <a class="govuk-link" href="#">API integration</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Generate proof</span>
    <h1 class="govuk-heading-l">Check information before generating proof about your user</h1>
        <h2 class="govuk-heading-m">Certificate of Registration</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation 
            </dt>
            <dd class="govuk-summary-list__value">
              University of Arnsford
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Henrik Colleymore
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              hcolleymore@gmail.com
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Course name
            </dt>
            <dd class="govuk-summary-list__value">
              Politics and History BA
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              3 10 2022
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              11 6 2025
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>Arnsford<br>AR23 6FH
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Now generate proof</h2>
        <p class="govuk-body">By submitting this information you are confirming that, to the best of your knowledge, the proof you are providing is correct.</p>
        <form action="/uni/proof-confirmation" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button class="govuk-button" data-module="govuk-button">
            Generate proof
          </button>
        </form>
  </div>
</div>

{% endblock %}
