{% extends "layouts/main.html" %}

{% block pageTitle %}
  Generate proof - GOV.UK Proof
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p style="margin-bottom: 0px;"><span class="govuk-!-font-weight-bold">University of Arnsford</span>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div id="sidebar">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/home-page">Dashboard</a>
      </li>
      <li>
        <a class="govuk-link govuk-!-font-weight-bold" href="#">Generate proof</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Templates</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Check proof</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Settings</a>
      </li>
      <li>
        <a class="govuk-link" href="#">API integration</a>
      </li>
    </ul>
  </div>
  <div id="proof-container">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        One proof generated
      </h1>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          <a href="/url-proof-id" class="govuk-link" id="certificate-link">Certificate of Registration</a>
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action govuk-!-font-weight-regular">Created 6 April 2022
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              University of Arnsford
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Henrik Colleymore
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email adddress
            </dt>
            <dd class="govuk-summary-list__value">
              hcolleymore@gmail.com
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Course name
            </dt>
            <dd class="govuk-summary-list__value">
              Politics and History BA
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              3 10 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              11 6 2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>Arnsford<br>AR23 6FH
            </dd>
          </div>
        </dl>
      </div>
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title ">
          <div class="govuk-!-font-weight-regular" style="width: 150px; height: 150px; border: solid 2px black; text-align: center;">
            <canvas id="qr-code-canvas" style="width: 150px; height: 150px"></canvas>
          </div>
          HDJ2123F82
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action govuk-!-font-weight-regular">Expires 11 June 2025
          </li>
        </ul>
      </div>
    </div>
    <div id="after-proof">
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="/public/proof.pdf" download="hdj2123f82.pdf">
          Download proof as a document
        </a>
        <button class="govuk-button govuk-button--secondary govuk-!-margin-left-4" data-module="govuk-button" onclick="print()">
          Print this proof
        </button>
        <p class="govuk-body-l govuk-!-font-weight-bold" style="padding: 25px 25px 25px 25px; background-color: #f3f2f1;">proof.service.gov.uk/hdj2123f82 <span style="border: 1px solid #00823b; border-bottom: 3px solid #00823b; float: right; padding: 7px 7px 7px 7px; background-color: white; font-weight: 400; font-size: 19px; color: #00823b;">copy link</span></p>
        <form action="#" method="post" novalidate>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h1 class="govuk-fieldset__heading">
                    Do you want to send this proof to someone?
                  </h1>
                </legend>
                <div id="contact-hint" class="govuk-hint">
                  Select one option.
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                    <label class="govuk-label govuk-radios__label" for="contact">
                      Email
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-email">
                        Email address
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" autocomplete="email" value="hcolleymore@gmail.com">
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                    <label class="govuk-label govuk-radios__label" for="contact-2">
                      Post
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-phone">
                        House number and name
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                      <br>
                      <label class="govuk-label" for="contact-by-phone">
                        Post code
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
                    </div>
                  </div>
                </div>
              </fieldset>
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Send proof
          </button>
        </form>
      </div>
    </div>
</div>

{% block pageScripts %}
<script src="/public/javascripts/qrcode.js"></script>
<script>
  const data =
          `Proof ID Number\: HDJ2123F82
Organisation\: University of Arnsford
Full name\: Henrik Colleymore
Email address\: hcolleymore@gmail.com
Course name\: Politics and History BA
Start date\: 3 10 2022
End date\: 11 6 2025
Address\: 72 Guild Street, Arnsford, AR23 6FH`
  QRCode.toCanvas(
          document.getElementById('qr-code-canvas'),
          data, { width: 150 },
          function (error) {
            if (error) console.error(error)
            console.log('success!');
          })
</script>
{% endblock %}

{% endblock %}
