{% extends "layouts/main.html" %}

{% block pageTitle %}
  Generate proof - GOV.UK Proof
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
    <p style="margin-bottom: 0px;"><span class="govuk-!-font-weight-bold">Arnsford District Council</span>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/council/home-page">Dashboard</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Generate proof</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Templates</a>
      </li>
      <li>
        <a class="govuk-link govuk-!-font-weight-bold" href="#">Check proof</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Settings</a>
      </li>
      <li>
        <a class="govuk-link" href="#">API integration</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-panel govuk-panel--confirmation" style="background-color: #1d70b8;">
      <h1 class="govuk-panel__title">
        Proof is real
      </h1>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          <a href="/url-proof-id" class="govuk-link">Certificate of Registration</a>
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action govuk-!-font-weight-regular"> Created 6 April 2022
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation
            </dt>
            <dd class="govuk-summary-list__value">
              University of Arnsford
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Henrik Colleymore
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email adddress
            </dt>
            <dd class="govuk-summary-list__value">
              hcolleymore@gmail.com
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Course name
            </dt>
            <dd class="govuk-summary-list__value">
              Politics and History BA
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Start date
            </dt>
            <dd class="govuk-summary-list__value">
              3 10 2022
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              End date
            </dt>
            <dd class="govuk-summary-list__value">
              11 6 2025
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              72 Guild Street<br>Arnsford<br>AR23 6FH
            </dd>
          </div>
        </dl>
      </div>
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title ">
          <div class="govuk-!-font-weight-regular" style="width: 150px; height: 150px; border: solid 2px black; text-align: center;">
            <canvas id="qr-code-canvas" style="width: 150px; height: 150px"></canvas>
          </div>
          HDJ2123F82
        </h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action govuk-!-font-weight-regular">Expires 11 June 2025
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/qrcode.js"></script>
<script>
  const data =
          `Proof ID Number\: HDJ2123F82
Organisation\: University of Arnsford
Full name\: Henrik Colleymore
Email address\: hcolleymore@gmail.com
Course name\: Politics and History BA
Start date\: 3 10 2022
End date\: 11 6 2025
Address\: 72 Guild Street, Arnsford, AR23 6FH`
  QRCode.toCanvas(
          document.getElementById('qr-code-canvas'),
          data, { width: 150 },
          function (error) {
            if (error) console.error(error)
            console.log('success!');
          })
</script>
{% endblock %}
