{% extends "layouts/main.html" %}

{% block pageTitle %}
  Sign in - GOV.UK Proof
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Sign in
      </h1>

      <p>If you do not have an account, you can <a href="#">create one now</a>.</p>

      <form class="form" action="/council/text-code" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            Password
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
