{% extends "layouts/url-proof-id.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Tech spike concept: GOV.UK Life Events
    </h1>

    <p class="govuk-body">Two teams on GDS' Government Data Exchange programme spent a week exploring one way eligibility checking between public services could work.</p>

    <p class="govuk-body">The prototypes are of a fiction government platform called <a class="govuk-link" href="/product-splash-page">GOV.UK Life vents</a>. It uses the scenario of someone after applying for DWP's child Disability Living Allowance being proactive contacted to a local authority to use its services to s</p>

    <p class="govuk-body"><a class="govuk-link" href="https://github.com/HarryTrimble/tech-spike-govuk-life-events">View prototype code on GitHub</a></p>

    <ul class="govuk-list govuk-list--number">
      <li>
        <a class="govuk-link" href="/product-splash-page">Start page</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
