{% extends "layouts/product-splash-page.html" %}

{% block pageTitle %}
  GOV.UK Life Events
{% endblock %}

{% block banner %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br><br>
      <h1 class="govuk-heading-xl" style="color: white; margin-bottom: 25px;">Build proactive services using data from across government</h1>
      <p class="govuk-body-l" style="color: white;">Use GOV.UK  Life Events send and recieve notifications about when your users circumstances change.</p>
      <br><br>
    </div>
  </div>
{% endblock %}